body {
  margin:0;
  font-family:Poppins;
  background:#FFF8F3;
  color:#2E2E2E;
}

/* NAVBAR */
nav {
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  backdrop-filter:blur(10px);
}

/* HERO */
.hero {
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.hero h1 {
  font-family:'Playfair Display';
  font-size:3rem;
}

.btn {
  padding:10px 20px;
  background:#6B4F4F;
  color:white;
}

/* TRUST */
.trust {
  display:flex;
  justify-content:space-around;
  background:#F5E6DA;
  padding:20px;
}

/* SECTION */
.section {
  padding:80px;
  text-align:center;
}

/* MENU */
.menu {
  display:flex;
  gap:20px;
  justify-content:center;
}

.item {
  padding:20px;
  background:white;
}

/* GALLERY */
.gallery img {
  width:200px;
  transition:0.3s;
}
.gallery img:hover {
  transform:scale(1.1);
}

/* STATS */
.stats {
  display:flex;
  justify-content:space-around;
  padding:40px;
}

/* ANIMATIONS */
.reveal {
  opacity:0;
  transform:translateY(50px);
  transition:1s;
}
.reveal.active {
  opacity:1;
  transform:translateY(0);
}

/* PROGRESS BAR */
.progress-bar {
  height:5px;
  background:#6B4F4F;
  position:fixed;
  top:0;
  left:0;
}
  

